#hero {
  text-align: center;
  margin: 0 auto;

  padding-bottom: 5rem;
  background: url("../../assets/images/bg-dot.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  @include small-screen {
    padding-top: 20%;
  }
  @include mobile-screen {
    padding-top: 32%;
  }

  .container {
    width: 60%;
    @include small-screen {
      width: 80%;
    }
    @include mobile-screen {
      width: 90%;
    }
  }

  h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 3rem;
    padding: 0 14rem;
    @include medium-screen {
      padding: 0 5rem;
    }
    @include tablet-screen {
      padding: 0;
    }
    @include mobile-screen {
      font-size: 30px;
    }
  }
  .search-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 10px;
    width: 100%;
    box-shadow: -5px 9px 20px 0 rgba(23, 45, 89, 0.03);
    background-color: var(--white-color);
    border-radius: 40px;
    margin: 5rem auto 1.2rem;
    @include mobile-screen {
      margin: 4rem auto 1.2rem;
    }
    input {
      font-size: 15px;
      padding: 10px;
      width: 75%;
    }
    .search-title {
      font-size: 16px;
      margin-right: 0.8rem;
      @include tablet-screen {
        font-size: 15px;
      }
    }
    hr {
      background: rgba(0, 0, 0, 0.2);
      border: none;
      height: 20px;
      margin: 5px;
      width: 0.1rem;
    }
    .search-icon {
      font-size: 25px;
    }
  }
  .example-text {
    @include mobile-screen {
      font-size: 13px;
    }
  }
}
