@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--smoke-color);
  color: var(--black-color);
}

img {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  max-width: 1440px;
  padding: 0 3rem;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--black-color);
}
