:root {
  --primary-color: #ff5400;
  --smoke-color: #f6f7f8;
  --white-color: #fff;
  --black-color: #1a1a1a;
}

// breakpoint
$mobile-screen: 640px;
$tablet-screen: 768px;
$small-screen: 1024px;
$medium-screen: 1280px;
$large-screen: 1920px;
