:root {
  --primary-color: #f3511f;
  --white-color: #fff;
  --black-color: #312620;
  --smoke-color: #f6f7f8;
  --blue-fade-color: #5f7a99;
}

// breakpoint
$mobile-screen: 640px;
$tablet-screen: 768px;
$small-screen: 1024px;
$medium-screen: 1280px;
$large-screen: 1920px;
